.header-bg{
	    background:#fff;
}
.main-header {
z-index: 1030;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    filter: none;
    position: static;
}
.border_top_bott{
    background-color: rgba(232, 232, 232, 0.5);
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
}
.container_header {
	width: 100%;
}
.logo {
	float: left;
	display: block;
	width: 270px;
	height: 70px;
	padding:10px 0px;
	line-height: 1.7 !important;
	background:transparent;
	position: relative;
}
.logo a {
	display: inline-block;
}
.logo_icon {
	display: none;
}
.icon_menu {
	display: none;
	position: absolute;
	top: 25px;
	right:-40px;
	margin: 0px;
	z-index: 99999;
}
.menu-toggler {
	line-height: 20px;
	cursor: pointer;
	/* opacity: .7; */
	filter: alpha(opacity=70);
	display: block;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
	background: none;
	height: 20px;
	width: 25px;
	border-top: 2px solid #36a2f5;
	border-bottom: 2px solid #36a2f5;
	position: relative;
}
.menu-toggler:before {
	content: "";
	position: absolute;
	bottom: 7px;
	left: 0px;
	height: 2px;
	width: 100%;
	background: #36a2f5;
}
.right_detail {
	float: right;
	width: calc(100% - 285px);
	padding-left: 15px;
	padding-right: 15px;
}
.top_function {
	padding: 9px 0px;
	    margin-left: 30px;
	position: relative;
}
.min-h {
	min-height: 70px;
}
#toggle_res_search{
	    color: #9b9b9b;
    font-size: 1rem;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
	position: relative;
    top: 5px;
}
.search .search-form {
    position: absolute;
    width: 300px;
    right: 85%;
    top: 100%;
    background: #fff;
    padding: 10px;
    margin-top: 0;
    border: none;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    z-index: 992;
}
.search .search-form .btn{
	    background: #3997f8;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
}
.language-switch, .dropdown-notification, .dropdown-inbox, .dropdown-user {
	margin: 0 0px 0px 20px;
	padding:22px 0px 16px;
}

@media (max-width: 991px) {

	.language-switch, .dropdown-notification, .dropdown-inbox, .dropdown-user {
		margin: 0 0px 0px 24px;
	}
	.dropdown-user a.dropdown-toggle span{
		font-size:0;
	}
	.dropdown-user a.dropdown-toggle span i{
		font-size:20px;
		position: relative;
		top: 3px;
	}
	.main-header .phone_view{
		position:relative;
	}
	.main-header .phone_view:before{
		content:'';
		width:100%;
		height:71px;
		position:absolute;
		top:0;
		left:0;
		background: #36a2f5;
	}
	.container {
    max-width:100%;
}

}
@media (max-width:767px) {

	.icon_menu{
    top: 23px;
    right: auto;
    left:15px;
	}
	.logo{
	padding: 10px;
    background: #36a2f5;
    justify-content: center;
    float: none;
	}
	.right_detail{
		    width:100%;
			float:none;
	}
	.search .search-form{
		width:300px;
		right: 0px;
	}
}
.right_bar_top{
	position: relative;
}
.right_bar_top .dropdown-menu {
	left: auto !important;
	right: 0 !important;
	min-width: 175px;
	z-index: 1000;
	list-style: none;
	text-shadow: none;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 2px;
	border: none;
	border: none;
	-webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
	margin: 0px;
	transform: translate3d(0px, 50px, 0px) !important;
	top: 100% !important;
	transition: all 0.5s;
	display: block;
	visibility: hidden;
	opacity: 0;
	/* padding: 10px 0; */
}

.right_bar_top .dropdown-menu.show {
	transform: translate3d(0px, 0px, 0px) !important;
	visibility: visible;
	opacity: 1;
}

.right_bar_top .dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block !important;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #eff0f4;
	border-left: 7px solid transparent;
	/* border-bottom-color: rgba(0, 0, 0, .2); */
	content: '';
}

.dropdown-menu li a {
	color: #555;
	font-size: 13px;
	padding: 8px 16px;
	color: #6f6f6f;
	text-decoration: none;
	display: block;
	clear: both;
	font-weight: 300;
	line-height: 18px;
	white-space: nowrap;
}

.dropdown-notification .dropdown-toggle i, .dropdown-inbox .dropdown-toggle i {
	color: rgba(119, 119, 119, 0.67);
	font-size: 1.2rem;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
}

.dropdown-notification .dropdown-toggle, .dropdown-inbox .dropdown-toggle, .dropdown-user .dropdown-toggle {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	text-decoration: none;
	background:transparent;
	border-radius: 50%;
	height:24px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}

.dropdown-notification .dropdown-toggle:after, .dropdown-inbox .dropdown-toggle:after, .dropdown-user .dropdown-toggle:after {
	display: none;
}

.dropdown-notification .dropdown-menu, .dropdown-inbox .dropdown-menu {
	min-width: 160px;
	max-width: 355px;
	width: 355px;
	z-index: 9995;
	height: 300px;
}

.dropdown-notification .dropdown-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .dropdown-inbox .dropdown-menu .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #a0a0a0;
}
.dropdown-notification .dropdown-menu li.bigger, .dropdown-inbox .dropdown-menu li.bigger {
	display: block;
	overflow: hidden;
	padding: 15px;
	letter-spacing: .5px;
	background: #f3f4f4;
}

.dropdown-notification .dropdown-menu li, .dropdown-inbox .dropdown-menu li {
	list-style: none;
	width: 100%;
}

.dropdown-notification .dropdown-menu li.bigger h3, .dropdown-inbox .dropdown-menu li.bigger h3 {
	text-transform: uppercase;
	padding: 2px 0;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	color: #2a3142;
	float: left;
	margin: 0px;
}

.dropdown-notification .dropdown-menu li.bigger .notification-label, .dropdown-inbox .dropdown-menu li.bigger .notification-label {
	float: right;
	border-radius: 10px;
	padding: 0px 10px;
	color: #fff;
	background-color:#0985f9;
	line-height: 24px;
	font-size: 12px;
}

.dropdown-menu .mCSB_container {
	margin-right: 0px;
}

.badge_coun {
position: absolute;
    top: -2px;
    right: 0;
    font-weight: 300;
    padding: 0;
    background: #36a2f5;
    border-radius: 0;
    white-space: nowrap;
    display: inline-block;
    min-width: 15px;
    height: 15px;
    line-height: 16px;
    font-size: 10px;
    color: #fff;
    text-align: center;
}

.dropdown-menu-list {
	margin: 0px;
	padding: 0px;
}

.dropdown-menu-list li a {
	display: block;
	clear: both;
	font-weight: 300;
	line-height: 20px;
	white-space: normal;
	font-size: 13px;
	padding: 8px 15px 8px;
	text-shadow: none;
	border-bottom: 1px solid #EFF2F6 !important;
	color: #fff;
}

.dropdown-menu-list li a .time {
	float: right;
	max-width: 75px;
	font-size: 11px;
	font-weight: 400;
	opacity: .7;
	filter: alpha(opacity=70);
	text-align: right;
	padding: 1px 5px;
	margin: 7px 0px;
	background:#3997f8;
	border-radius: 4px;
}

.dropdown-menu-list li a .details {
	overflow: hidden;
	font-weight: 300;
	line-height: 20px;
	white-space: normal;
	font-size: 13px;
	padding: 8px 15px 8px 0;
	text-shadow: none;
	color: #888;
}
.deepPink-bgcolor {
	background-color: #e91e63 !important;
	color: #fff !important;
}
.photo {
	float: left;
}
.notification-icon {
	width: 36px;
	height: 36px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	color: #fff !important;
	/* background:transparent !important; */
	line-height: 1.2;
	padding: 9px 0;
	border-radius: 50%;
	margin-right: 10px;
}


.photo img {
	height: 40px;
	width: 40px;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	-ms-border-radius: 50% !important;
	-o-border-radius: 50% !important;
	border-radius: 50% !important;
}
.subject {
	display: block;
	margin-left: 46px;
}

.subject .from {
	font-size: 13px;
	font-weight: 600;
	color: #2a3142;
	margin-top: 12px;
	display: inline-block;
}

.subject .time {
	font-size: 12px;
	font-weight: 400;
	opacity: .5;
	filter: alpha(opacity=50);
	float: right;
}

.message {
	display: block !important;
	font-size: 12px;
	line-height: 1.3;
	margin-left: 46px;
	color: #000;
}
/* USer_DropDown */
.dropdown-user {
	display: inline-block;
}
.dropdown-user a.dropdown-toggle{
height: 30px;
    width: 150px;
    background: transparent;
    text-align: left;
    color: #000;
}
.dropdown-toggle > img.pro_pic {
	margin-top: 0;
	width:30px;
	display: inline-block;
	height:30px;
	    margin-right: 5px;
}

.dropdown-toggle > .username, .dropdown-user .dropdown-toggle > i {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	color: #53505f;
}

.panle_right{
	    margin: 0 0px 0px 20px;
    padding: 10px 0px;
}
.icon_rightpenle img{
    vertical-align: middle;
        cursor: pointer;
}
/* panel */
.settings-panel {
    border-left: 1px solid #f3f3f3;
    display: block;
    position: fixed;
    top:70px;
    right: -300px;
    bottom: 0;
    width: 300px;
    height: 100vh;
    min-height: 100%;
    background: #ffffff;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-property: right, box-shadow;
    -moz-transition-property: right, box-shadow;
    -o-transition-property: right, box-shadow;
    transition-property: right, box-shadow;
    z-index: 9999;
}
.settings-panel.open {
    right: 0;
}
.settings-panel .nav-tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: auto;
    margin: 0;
    padding: 0;
    background: #ffffff;
}
.settings-panel .nav-tabs .nav-item {
    border: none;
    min-width: 145px;
}
.settings-panel .nav-tabs .nav-item .nav-link {
    background: transparent;
    text-align: center;
    border: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #222222;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    transition-property: color;
    -webkit-transition-property: color;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 15px;
}
.settings-panel .nav-tabs .nav-item .nav-link.active {
    background: transparent;
    color: #7571f9;
}
.settings-panel .tab-content {
    border: none;
    padding: 20px 0 0px 0;
}

.settings-panel .tab-content .tab-pane.scroll-wrapper {
    position: relative;
    max-height: 100vh;
    height: 100%;
    padding-bottom: 150px;
}
.settings-panel .tab-content .tab-pane.scroll-wrapper {
    position: relative;
    max-height: 100vh;
    height: 100%;
    padding-bottom: 150px;
        padding-right: 10px;
}
.add-items {
    margin-bottom: 1.5rem;
    overflow: hidden;
     padding-left: 10px;
	    border-top: none !important;
}
.list_space .todo--panel .list-group:before{
	display: none;
}
.add-items .form-control{
	    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: transparent;
    border: 1px solid #f3f3f3;
    font-weight: 400;
    font-size: 0.8125rem;
    height: 48px;
}
.add-items .todo-list-add-btn{
    box-shadow: 0 2px 2px 0 rgba(117, 113, 249, 0.14), 0 3px 1px -2px rgba(117, 113, 249, 0.2), 0 1px 5px 0 rgba(117, 113, 249, 0.12);
    margin-left: .5rem;
    color: #fff;
    height: 48px;
    font-size: 15px;
}
.list-wrapper {
    height: 100%;
    max-height: 100%;
}
.list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0;
}
.list-wrapper ul li {
    font-size: .9375rem;
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3;
}
.list-wrapper ul li:first-child {
    border-bottom: none;
}
.list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.list-wrapper ul li .form-check .form-check-label{
	    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
        min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.list-wrapper input[type="checkbox"] {
    margin-right: 15px;
}
.list-wrapper ul li {
    font-size: .9375rem;
    padding: .4rem 0;
    border-bottom: 1px solid #f3f3f3;
}
.settings-panel .todo--panel .list-group-item{
	margin-top: 10px;
}
.settings-panel .chat-list {
    padding-left: 0;
}
.settings-panel .chat-list .list {
    padding: 0.4rem 0.8rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
}
.settings-panel .chat-list .list.active {
    background: #f8f9fa;
}
.settings-panel .chat-list .list .profile {
    position: relative;
    margin-right: 1rem;
}
.settings-panel .chat-list .list .profile img {
    width: 2.50rem;
    height: 2.50rem;
    border-radius: 100%;
}
.settings-panel .chat-list .list .profile span {
    height: 0.75rem;
    width: 0.75rem;
    position: absolute;
    bottom: 0.34rem;
    right: 0;
    border: 0.13rem solid #ffffff;
    border-radius: 100%;
}
.settings-panel .chat-list .list .profile span.online {
    background: #6fd96f;
}
.settings-panel .chat-list .list .info {
    margin-right: auto;
}
.settings-panel .chat-list .list .info p {
    display: block;
    margin-bottom: 0;
}
.settings-panel .chat-list .list .info p:last-child {
    opacity: 0.5;
    font-size: 0.8rem;
}
.settings-panel .chat-list .list .profile span.offline {
    background: #f29d56;
}
.settings-panel .badge {
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
}
.settings-panel .badge.badge-pill {
    border-radius: 10rem;
}
.settings-panel .settings-heading {
    padding: 16px 0 13px 35px;
    font-size: 0.875rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    margin-bottom: 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.height_bar{
	height: 100vh;
}
.settings-panel .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #000;
}
/* click_icon_menu */
.nav_small .logo {
	width: 70px;
	padding: 10px 10px 10px 2px !important;
	text-align: center;
	justify-content: center;
}
.nav_small .logo a .logo_icon {
	display: block;
}
.nav_small .logo .logo-default {
	display: none;
}
.nav_small .icon_menu {
	right:-40px;
}
.nav_small .right_detail {
	width: calc(100% - 85px);
}
.nav_small .top_function {
	margin-left: 30px;
}




@media (max-width: 991px){
.main-header {
    z-index: 1030;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    filter: none;
    box-shadow:none;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    min-height: 70px;
    background:#fff;
}
.border_top_bott{
	border-bottom: none;
}
.page_breadc{
	margin-top: 133px;
}
.logo{
	padding: 10px;
    background: #36a2f5;
    justify-content: center;
    float: none;
	width:100%;
}
.icon_menu{
	top: 96px;
    left: 0;
    right: auto;
}
.dropdown-user a.dropdown-toggle{
	width: 56px;
}
.right_detail{
		padding-right:0;
	}
	.page-breadcrumb{
		margin-bottom: 15px;
	}
}

@media (max-width: 767px){
.right_bar_top .dropdown-menu {
    margin-left: 0;
    right: 0 !important;
    margin: 0 auto;
    width: 290px;
    max-width: 290px;
}
.right_bar_top{
	position:static;
}
.search .search-form{
	width: calc(100% - 30px);
    right: 15px;
	box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);;
	-webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
}
}
@media (max-width: 480px){
.right_bar_top .dropdown-menu {
    width: 245px;
    max-width: 245px;
}
.right_bar_top .dropdown-notification .dropdown-menu{
	    right: -102px !important
}
.right_bar_top .dropdown-notification .dropdown-menu:before{
	    right: 109px;
}

}
@media (min-width: 992px) {
	.search .search-form.form_show{
	position: static;
    width: 443px;
    background: transparent;
    padding: 0;
    box-shadow: none;
	}


}

/* INDEX1_HEADER_COLOR */
.header_bg1{
	background: -webkit-gradient(linear,left top,right top,from(#5b9c80),to(#35bf84));
    background: linear-gradient(to right,#5b9c80,#35bf84);
    border-top: none;
}
@media (min-width: 992px) {
.header_bg1 .search .search-form{
	    background: #09ab82;
	        border-radius: 5px;
}
.header_bg1 .search .search-form .form-control{
	    background: transparent;
	        border: none;
	        color: #fff;
}


.header_bg1 .search .search-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.header_bg1 .search .search-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.header_bg1 .search .search-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.header_bg1 .search .search-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.header_bg1 .dropdown-notification .dropdown-toggle i,
.header_bg1 .dropdown-inbox .dropdown-toggle i,
.header_bg1 .dropdown-user a.dropdown-toggle{
	color: #fff;
}

}
.header_bg1 .search .search-form .form-control:focus{
	    border-color:#09ab82;
}
.header_bg1 .dropdown-notification .dropdown-menu li.bigger .notification-label,
.header_bg1 .dropdown-inbox .dropdown-menu li.bigger .notification-label,
.header_bg1 .dropdown-menu-list li a .time{
	    background-color: #09ab82;
}

.bor_bottum{
	    border-bottom: 1px solid #d6d6d6;
}
.header_bg1 .badge_coun{
	    background: #09ab82;
}
.header_bg1 .search .input-group .btn{
	background: #09ab82;
}
@media (max-width: 991px){
	.main-header .header_bg1.phone_view:before,
	.header_bg1 .logo{
		background: -webkit-gradient(linear,left top,right top,from(#5b9c80),to(#35bf84));
    background: linear-gradient(to right,#5b9c80,#35bf84);
	}
	.header_bg1{
		background:transparent;
	}
	.header_bg1 .menu-toggler{
		    border-top: 2px solid #38bd84;
    border-bottom: 2px solid #37bd84;
	}
	.header_bg1 .menu-toggler:before{
		background: #37bd84;
	}

}

/* INDEX2_HEADER_COLOR */
.header_bg2{
background: -webkit-gradient(linear,left top,right top,from(#c9576a),to(#e2595f));
    background: linear-gradient(to right,#c9576a,#e2595f);
    border-top: none;
}
@media (min-width: 992px) {
.header_bg2 .search .search-form{
	    background:#da686d;
	        border-radius: 5px;
}
.header_bg2 .search .search-form .form-control{
	    background: transparent;
	        border: none;
	        color: #fff;
}
.header_bg2 .search .search-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.header_bg2 .search .search-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.header_bg2 .search .search-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.header_bg2 .search .search-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.header_bg2 .dropdown-notification .dropdown-toggle i,
.header_bg2 .dropdown-inbox .dropdown-toggle i,
.header_bg2 .dropdown-user a.dropdown-toggle{
	color: #fff;
}

}
.header_bg2 .search .search-form .form-control:focus{
	    border-color: #da686d;
}
.header_bg2 .dropdown-notification .dropdown-menu li.bigger .notification-label,
.header_bg2 .dropdown-inbox .dropdown-menu li.bigger .notification-label,
.header_bg2 .dropdown-menu-list li a .time{
	    background-color:#da686d;
}

.bor_bottum{
	    border-bottom: 1px solid #d6d6d6;
}
.header_bg2 .badge_coun{
	    background: #da686d;
}
.header_bg2 .search .input-group .btn{
	background: #da686d;
}
@media (max-width: 991px){
	.main-header .header_bg2.phone_view:before,
	.header_bg2 .logo{
background: -webkit-gradient(linear,left top,right top,from(#c9576a),to(#e2595f));
    background: linear-gradient(to right,#c9576a,#e2595f);
	}
	.header_bg2{
		background:transparent;
	}
	.header_bg2 .menu-toggler{
		    border-top: 2px solid #da686d;
    border-bottom: 2px solid #da686d;
	}
	.header_bg2 .menu-toggler:before{
		background: #da686d;
	}

}



/* INDEX3_HEADER_COLOR */
.header_bg3{
    background: -webkit-gradient(linear,left top,right top,from(#2a9faf),to(#00BCD4));
    background: linear-gradient(to right,#2a9faf,#00BCD4);
    border-top: none;
    border-top: none;
}
@media (min-width: 992px) {
.header_bg3 .search .search-form{
	    background:#36bed0;
	        border-radius: 5px;
}
.header_bg3 .search .search-form .form-control{
	    background: transparent;
	        border: none;
	        color: #fff;
}
.header_bg3 .search .search-form .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.header_bg3 .search .search-form .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.header_bg3 .search .search-form .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.header_bg3 .search .search-form .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.header_bg3 .dropdown-notification .dropdown-toggle i,
.header_bg3 .dropdown-inbox .dropdown-toggle i,
.header_bg3 .dropdown-user a.dropdown-toggle{
	color: #fff;
}

}
.header_bg3 .search .search-form .form-control:focus{
	    border-color: #36bed0;
}
.header_bg3 .dropdown-notification .dropdown-menu li.bigger .notification-label,
.header_bg3 .dropdown-inbox .dropdown-menu li.bigger .notification-label,
.header_bg3 .dropdown-menu-list li a .time{
	    background-color:#36bed0;
}

.bor_bottum{
	    border-bottom: 1px solid #d6d6d6;
}
.header_bg3 .badge_coun{
	    background:#1aa1b3;
}
.header_bg3 .search .input-group .btn{
	background: #36bed0;
}
@media (max-width: 991px){
	.main-header .header_bg3.phone_view:before,
	.header_bg3 .logo{
    background: -webkit-gradient(linear,left top,right top,from(#2a9faf),to(#00BCD4));
    background: linear-gradient(to right,#2a9faf,#00BCD4);
	}
	.header_bg3{
		background:transparent;
	}
	.header_bg3 .menu-toggler{
		    border-top: 2px solid #36bed0;
    border-bottom: 2px solid #36bed0;
	}
	.header_bg3 .menu-toggler:before{
		background: #36bed0;
	}

}
